
#cycle {
	padding: 25px;
	border: solid;
	
}

html {
	max-width: 1200px;
	margin:auto;
}

.formal {
	font: 1em Helvetica;
	background-image: https://raw.githubusercontent.com/khristoph/khristoph.github.io/master/images/poppy%20jumping.jpg ("poppy jumping.jpg");
}

footer {
	text-align: center;
}

body {
	background-image: https://google.com;
}