
#cycle {
	padding: 25px;
	border: solid;
	
}

html {
	max-width: 1200px;
	margin:auto;
}

.formal {
	height: 800px;
	font: 1em Helvetica;
	background-image: url("https://raw.githubusercontent.com/khristoph/khristoph.github.io/master/images/foggy_grapes.JPG");
	background-size: 1200px 1500px;

}

.intro {
	font: 1em Helvetica;
	font-style: italic;
}
footer {
	text-align: center;
}

a:link {
	color: red;
}

a:visited {
	color: purple;
}

#grapes {
	width:600px;
	height:400px;
}

@media screen and (max-width: 500px) {
  #grapes{
  	width: 300px;
  	height: 200px;
    
  	}
  }
